<TMPL_INCLUDE NAME="header.tmpl">
<h1>New Bugreport</h1>
<form method="post" action="/new">
<table border="0" class="new_issue">
<TMPL_LOOP NAME=FIELDS>
	<TMPL_INCLUDE_VAR NAME="type">
</TMPL_LOOP>
</table>
<input type="submit" name="submit" value="Submit">
</form>
<TMPL_INCLUDE NAME="footer.tmpl">
